@charset "UTF-8";
/* CSS Document */

#Title {
    text-align: center;
    margin: 14px;
    margin-bottom: 20px;
    font-size: 40px;
}

#Name {
    font-size: 100px;
}

#Button {
    text-align: center;
}


#Wireframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn {
    width: 50%;
    margin: 20px;
    font-size: 20px;
}


div.footer {
	background-color: #222222;
	text-align: center;
	padding: 7px;
	position: fixed;
    bottom: 0px;
	width: 100%;
}

.copyright {
	color: #979797;
}

#board {
    display: inline-block;
    align-content: center;
    text-align: center;
}

.card {
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    height: auto;
    width: 240px;
}